/*===================================
Theme Name: GiftMart - Clean eCommerce Bootstrap5 Template
Author: Md.Sarwar Alam
Support: no-reply@sarwaralam.com
Description: Clean eCommerce Bootstrap5 Template
Version: 1.0
===================================*/

:root {
    --theme-bg: #FF324D;
    --primary-bg: #F9F9F9;
    --light-bg: #FbFbFb;
    --white-bg: #FFFFFF;
    --black-bg: #333333;
    --dark-black-bg: #000000;
    --red-bg: #f14705;
    --light-red-bg: #f30;
    --alternative-bg: #fbbc34;
    --theme-text: #FF324D;
    --primary-text: #333333;
    --secondary-text: #777777;
    --light-text: #FbFbFb;
    --white-text: #FFFFFF;
    --black-text: #242424;
    --dark-black-text: #000000;
    --red-text: #f14705;
    --light-red-text: #f30;
    --alternative-text: #fbbc34;
    --primary-text-hover: rgba(51, 51, 51, .6);
    --theme-link: #FF324D;
    --primary-link: #333333;
    --primary-link-hover: #242424;
    --secondary-link: #848484;
    --extra-link: #727272;
    --theme-border: #FF324D;
    --primary-border: rgba(232, 232, 232, 1);
    --secondary-border: rgba(129, 129, 129, .2);
    --extra-border: rgba(129, 129, 129, .15);
    --theme-btn: #FF324D;
    /* --theme-btn-hover: #FF323C; */
    --theme-btn-hover: #fc303a;
    --theme-btn-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
}