/*===================================
Theme Name: GiftMart - Clean eCommerce Bootstrap5 Template
Author: Md.Sarwar Alam
Support: no-reply@sarwaralam.com
Description: Clean eCommerce Bootstrap5 Template
Version: 1.0
===================================*/


/* CSS Index
-----------------------------------
1. Theme default css
    - Typography css
2. header
3. slider
4. service area
5. product area
6. blog area
7. top product category area
8. help you area
9. sale off area
10. shop now & order now bg area
11. Shop page area
12. Contact page
13. wishlist page
14. faq page
15. portfolio area
16. checkout page
17. cart page
18. subscribe area
19. login area
20. footer area
21. extra info css
-----------------------------------*/


/* 1. Theme default css
-------------------------------------------------------------- */


/* Typography css start */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--white-bg);
    color: var(--secondary-text);
    text-rendering: optimizeLegibility;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

legend,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-text);
    text-transform: uppercase;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
}

a {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    text-decoration: none;
}

a {
    color: var(--primary-link);
    text-decoration: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

a:hover {
    color: var(--primary-link-hover);
}

a:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.btn-close:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

label {
    margin-bottom: 0.5rem;
}

 :focus {
    outline: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.font-cormorant {
    font-family: Cormorant, sans-serif;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

.font-courgette {
    font-family: 'Courgette', cursive;
    text-transform: capitalize !important;
}


/* 2. header
-------------------------------------------------------------- */