/*===================================
Theme Name: GiftMart - Clean eCommerce Bootstrap5 Template
Author: Md.Sarwar Alam
Support: no-reply@sarwaralam.com
Description: Clean eCommerce Bootstrap5 Template
Version: 1.0
===================================*/


/* Topbar */

.topbar {
    background-color: var(--theme-bg);
    color: var(--white-text);
    height: 42px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.topbar-links-section {
    font-size: 12px;
    line-height: 1.2;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}

.topbar-links-section a {
    color: var(--white-text);
}

.topbar-links-section a:hover {
    color: var(--white-text);
    opacity: 0.6;
}

.topbar-left {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.topbar-welcome {
    font-size: 12px;
    line-height: 1.2;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
}

.topbar-divider {
    height: 100%;
}

.topbar-divider:before {
    content: "";
    display: block;
    height: 100%;
    border-right: 1px solid;
    border-color: var(--white-text);
    opacity: 0.25;
}

.topbar-phone {
    font-size: 12px;
    line-height: 1.2;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}

.topbar-phone a {
    color: var(--white-text);
}

.topbar-phone a:hover {
    color: var(--white-text);
    opacity: 0.6;
}

.topbar-right {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.topbar-social {
    font-size: 12px;
    line-height: 1.2;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
}

.topbar-social a {
    color: var(--white-text);
    font-size: 14px;
    margin: 0!important;
    padding: 6px;
    width: auto!important;
    height: auto!important;
}

.topbar-social a:hover {
    color: var(--white-text);
    opacity: 0.6;
}

.topbar-dropdown {
    font-size: 12px;
    line-height: 1.2;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
}

.topbar-dropdown>ul {
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    text-align: left;
}

.topbar-dropdown>ul>li {
    position: relative;
    cursor: pointer;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.topbar-dropdown>ul>li:after {
    content: "";
    display: block;
    height: 100%;
    border-right: 1px solid;
    border-color: var(--white-text);
    opacity: 0.25;
}

.topbar-dropdown>ul>li>a {
    color: var(--white-text);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    line-height: 1.2;
}

.topbar-dropdown>ul>li>a:after {
    margin-left: 4px;
    margin-top: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 60%;
    content: "\ea58";
    font-family: 'LineIcons';
    color: var(--white-text);
    opacity: 0.6;
}

.topbar-dropdown>ul>li>a:hover {
    color: var(--white-text);
    opacity: 0.6;
}

.topbar-dropdown-sub {
    padding: 12px 20px;
    width: 220px;
}

.topbar-dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 29%;
    left: 0;
    z-index: 380;
    margin: 15px 0 0;
    background-color: var(--white-bg);
    background-position: bottom right;
    background-clip: border-box;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgb(0 0 0 / 15%);
    text-align: left;
    transition: opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
    transition: opacity .2s ease, visibility .2s ease, transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(15px) translateZ(0);
    transform: translateY(15px) translateZ(0);
}

.topbar-dropdown>ul>li:hover>.topbar-dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.topbar-dropdown-menu>ul>li {
    position: relative;
    display: block;
}

.topbar-dropdown-menu>ul>li>a {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--secondary-link);
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
}

.topbar-dropdown-menu>ul>li>a:hover {
    color: var(--theme-link);
}


/* Responsive */

@media (max-width: 575.98px) {}

@media (max-width: 991.98px) {
    .topbar-right {
        justify-content: center;
        align-items: center;
    }
    .topbar-social a {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {}